In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].unique()
school_count =len(school_count)
school_count

15

In [23]:
#Calculte the total number of students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [25]:
# Calculate the Total Budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [30]:
# Calculate the Average Math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [31]:
# Calculate the Average Math score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [33]:
# % passing math (the percentage of students who passed math)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [35]:
# % passing reading  (the percentage of students who passed reading)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001